* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.user-list {
    float: right;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    background-color: white;
}

h3 {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

ul {
    padding: 10px;
    font-size: 18px;
    list-style: none;
}

.current-user {
    color: green;
}

.logout {
    float: right;
    margin: 10px;
    width: 50px;
    height: 30px;
    border-radius: 10px;
}

.message-time {
    color: grey;
    font-size: 12px;
}