.center-div {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 400px;
    height: 350px;
    border: 3px black solid;
}

.content {
    text-align: center;
}

.upper-margin {
    margin-top: 20px;
}